<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulter mes commandes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/Remplir_le_panier.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b5618f4aef.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar navbar-expand navbar-dark bg-dark static-top">
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropright no-arrow">
                <a href="#" class="nav-link dropdown-toggle " role="button" id="userDropdown" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
                    <i class="fas fa-user-circle fa-fw" id=logout></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown" >
                    <a href="#" class="dropdown-item" data-toggle="modal" data-target="#logoutModal">Se Déconnecter</a>
                </div>

            </li>
        </ul>
    </div>
    <div id="content-wrapper">
        <div class="container-fluid">
            <div class="col-12-sm">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-history">

                        </i> <strong>Historique des commandes</strong>
                    </div>
            
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table m-t-30 table-bordered table-hover table-striped text-center ">
                            <tbody>
                                <tr>
                                  <th class="bg-primary text-white h2">
                                      Commande
                                  </th>
                                    
                                    
                                      
                                </tr>
                                <tr>
                                    <th>
                                        Id:<b>000001</b>
                                        <br>
                                        Prix total: <b>1.2</b>dt
                                        <br>
                                        Date de la commande: <b>04-04-2020</b>
                                        <br>
                                        Détails de la commande:
                                        
                                    
                                      
                                      
                                  
                                    
                                        <ul>
                                            <a href="produits_en_demande.php?id=93">
                                                <button type="button" class="btn btn-success btn-rounded waves-effect waves-light" name="Détails">
                                                    <i class="fa fa-list">

                                                    </i>
                                                </button> 
                                            </a>                    
                                        </ul>
                                    </th>
                                   
                                  
                                    
                                </tr>
                                <tr>
                                    <th>
                                        Id:<b>000002</b>
                                        <br>
                                        Prix total: <b>1.5</b>dt
                                        <br>
                                        Date de la commande: <b>06-04-2020</b>
                                        <br>
                                        Détails de la commande:
                                        
                                    
                                      
                                      
                                  
                                    
                                        <ul>
                                            <a href="produits_en_demande.php?id=93">
                                                <button type="button" class="btn btn-success btn-rounded waves-effect waves-light" name="détails">
                                                    <i class="fa fa-list">

                                                    </i>
                                                </button> 
                                            </a>                    
                                        </ul>
                                    </th>
                                   
                                  
                                    
                                </tr>
                            </tbody>

                        </table>
                        <div class="hidden-print text-center">
                            <div class="pull-right">
                                <a href="#">
                                    <button id="submit" name="submit" class="btn btn-primary waves-effect waves-light" type="submit">
                                            Faire une nouvelle commande
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer bg-dark">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                            <h1 class="text-white text-capitalize font-weight-light p-3">
                                Ched Darek !!
                            </h1>
                            <h3 class="text-light font-weight-light font-italic mb-3">
                                مع بعضنا .. نغلبوه 
                            </h3>
                            <div class="py-2">
                                <a href="#"><i class="fab fa-facebook text-priimary fa-2x mx-3"></i></a>
                                <a href="#"><i class="fab fa-twitter text-danger fa-2x mx-3 "></i></a>
                                <a href="#"><i class="fab fa-youtube  text-danger fa-2x mx-3 "></i></a>
                            
                            </div>
                            <p class="text-light">&copy; Copyright <script>document.write(new Date().getFullYear());</script> by Soldiers </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</footer>
    
</body>
</html>